<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>    
    <h2>Welcome to Documentation</h2>
    <div class="card">
        <div class="card-header">
            End point: <pre class="float float-rigth"> /student </pre>
        </div>
        <div class="card-body">
            <div class="card mt-4">
                <div class="card-header">
                    Method : GET
                </div>
                <div class="card card-body">
                    Example:
                    <pre>
                        <code class="code">
                            {
                                "name": "Widmar",
                                "age" :  21
                            }                            
                        </code>
                    </pre>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-header">
                    Method : GET
                </div>
                <div class="card card-body">
                    Example:
                    <pre>
                        <code class="code">
                            {
                                "name": "Widmar",
                                "age" :  21
                            }                            
                        </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            End point: <pre class="float float-rigth"> /student </pre>
        </div>
        <div class="card-body">
            <div class="card mt-4">
                <div class="card-header">
                    Method : GET
                </div>
                <div class="card card-body">
                    Example:
                    <pre>
                        <code class="code">
                            {
                                "name": "Widmar",
                                "age" :  21
                            }                            
                        </code>
                    </pre>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-header">
                    Method : GET
                </div>
                <div class="card card-body">
                    Example:
                    <pre>
                        <code class="code">
                            {
                                "name": "Widmar",
                                "age" :  21
                            }                            
                        </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
</body>
</html>